<%- include('../partials/header') %>

<form action="/appts" method="POST"">

    <div class="days">
      <br>Pick Best Day for Visits:
      <br>
          <input type="date" name="date"/>
      <br>
    </div>

<br>
    <div class="note">Any special requests or comments you would like to make?</div><br>
    <div>
      <textarea class="note" id="comment" name="comment" placeholder="E.g. 9:00AM - 1:00PM, Only Main Floor, Pets will Be Home, etc." style="width: 400px" rows="12"></textarea>
    </div> <br>

    <div class="button">
      <button type="submit">Submit</button>
    </div>

  </form>

<%- include('../partials/footer') %>