body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #cba4d7;
  color: white;
}

a {
  color: #69108c;
}

login-container{
  width: 500px;
  margin-top: 50px;
  text-align: center;
}

.nav-menu {
  color: #ffffff;
  text-align: center;
}

.signin-button {
  content: url("https://raw.githubusercontent.com/react-native-community/react-native-google-signin/HEAD/img/signin-button.png");
  position: absolute;
  top: 0px;
  right: 0px;
  width: 180px;
}

.logo {
  content: url("https://i.pinimg.com/564x/70/13/67/70136724e649fbd81a391c9855e3447e.jpg");
  width: 250px;
  text-align: center;
  border-radius: 50%;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.appt-button {
  padding: 5px;;
  border: 1px solid white;
  margin: 2px;
}